language: python
sudo: false
python:
  - 2.7
  - 3.6
  - pypy-5.6.0
script:
  - coverage run -m zope.testrunner --test-path=src  --auto-color --auto-progress
after_success:
  - coveralls
notifications:
  email: dev-regression-tests@nextthought.com

install:
  - pip install -U pip
  - pip install -U setuptools
  - pip install -U coveralls coverage
  - pip install -U -e ".[test]"

cache: pip

before_cache:
    - rm -f $HOME/.cache/pip/log/debug.log
